<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Dynamic-proj</display-name>
  <welcome-file-list>
  <welcome-file>welcome.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>welcome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
       <servlet-name> firstController</servlet-name>
       <servlet-class> com.sus.sushma.SomeController</servlet-class>
       <load-on-startup>880</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name> firstController</servlet-name>
  		<url-pattern>/callController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>secoundController</servlet-name>
  		<servlet-class>com.sus.sushu.SomeOtherController</servlet-class>
  		<load-on-startup>4</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>soecoundController</servlet-name>
  		<url-pattern>/callTheOtherController</url-pattern>
  </servlet-mapping>
</web-app>